<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>139136429186-7si67v1mfd9tqint6idc9a9n18klbcc3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.139136429186-7si67v1mfd9tqint6idc9a9n18klbcc3</string>
	<key>API_KEY</key>
	<string>AIzaSyBiAVolBgm9iCiaL9TFAHsu4u5P37i9mjU</string>
	<key>GCM_SENDER_ID</key>
	<string>139136429186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.firebaseChatApp</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-app-39c82</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-app-39c82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:139136429186:ios:de9ea69c5281c85cee989b</string>
</dict>
</plist>